:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;

    color-scheme: dark;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --gray:hsl(0 0% 50%);
    --bg: hsl(0 0% 10%);
    --bg-dark: hsl(0 0% 0%);
    --bg-light: hsl(0 0% 20%);
    --text: hsl(0 0% 90%);
    --text-muted: hsl(0 0% 70%);
    --primary: hsl(53 100% 60%);
    --secondary: hsl(20 100% 55%);
    --secondary-dark: hsl(20 60% 35%);
    --maroon: hsl(0 80% 50%);
    --title-color: hsla(225 100% 20%);
    --card-color: linear-gradient(-45deg, hsl(225 50% 10%), hsl(225 100% 30%));
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  min-width: 320px;
  overflow-y: auto;
}
